$bodyBackground: #f5f8f9;
$containerWidth: 1126px;
    
* 
    box-sizing: border-box;

html,
body 
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;

body 
    background: $bodyBackground;
    margin: 0;

a 
    text-decoration: none;

ul li 
    list-style: none;

button
    cursor: pointer;
    outline: none;

.container 
    width: $containerWidth;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;

.header
    display: flex;
    flex-flow: column nowrap;
    background: #fff;
    width: 1170px;
    margin: 72px auto 0;

    .logout
        display: flex;
        justify-content: flex-end;
        margin-top: 22px;

        &__btn 
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
            color: #007ee5;
            border: 1px solid #007ee5;
            line-height: 15px;
            padding: 8px 20px 6px;
            border-radius: 3px;

        &__btn:hover 
            background: #007ee5;
            color: #fff;
            transition: background .5s ease-in-out, color .5s ease-in-out;

    .upload
        display: flex;
        justify-content: center;
        margin-top: 22px;

        .upload-img 
            border: 1px solid #d0dce7;
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 10px 21px;
            border-radius: 3px;

            &__input 
                display: none;

            .ion-md-camera
                font-size: 20px;
                margin-right: 18px;
                color: #d0dce7;

            &__text
                margin: 0;
                color: #858f98;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.5px;

    .profile
        display: flex;
        margin-top: -12px;

        .profile-image
            width: 172px;
            height: 172px
            overflow: hidden;
            box-shadow: 0 0 14px 10px rgba(233, 235, 237, .6);
            position: relative;
            z-index: 2;

            &__item
                display: flex;
                margin-left: -85px;

    .profile-data
        display: flex;
        justify-content: space-between;
        flex: 1 0;

        .profile-contacts
            margin-left: 26px;
            color: #3f454a;

            &__name
                margin: 33px 0 0 0;
                font-size: 22px;
                font-weight: 300px;

        .profile-icons-contact
            display: flex;
            align-items: center;
           
            .ion-md-call,
            .ion-md-pin 
                margin-top: 12px;
                font-size: 18px;
                color: #a9abad;

            &__tel,
            &__adr
                margin: 8px 0 0 15px;
                font-size: 15px;
                letter-spacing: 0.4px;

            .ion-md-call
                margin-top: 6px;
            
        .profile-review
            display: flex;
            margin-top: 17px;
            color: #727e88;

            .profile-stars
                display: flex;
                margin-right: 25px;

                &__item 
                    margin-right: 7px;

                    .ion-md-star-outline,
                    .ion-md-star
                        font-size: 24px;

            &__quantity
                margin-top: 22px;

                small 
                    margin-left: 12px;

    .menu
        border: 1px solid #f4f5f6;
        box-shadow: 0 0 2px 1px rgba(233, 235, 237, .6);
        margin-top: -36px;
        position: relative;
        z-index: 1;
        padding: 4px 0;

        .menu-wrap
            display: flex;
            justify-content: space-between;

            .menu-list
                display: flex;
                margin-left: 158px;

                &__item a
                    text-transform: uppercase;
                    color: #3f454a;
                    font-size: 15px;
                    margin-right: 27px;
                    position: relative;

                .main-link::before,
                .current-link::before
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 2px;
                    background: #028dfe;
                    bottom: -20px;
                    left: 0;
                    transform: translateX(0%);
                    transition: width .2s ease-in-out;

                .current-link::before
                    width: 100%;

                .main-link:hover::before
                    width: 100%;

            .followers
                display: flex;
                align-items: center;

                .ion-md-add-circle
                    font-size: 28px;
                    color: #a6b0b7;
                    margin: 0 17px 0 0;

                &__item 
                    color: #3f454a;
                    font-size: 15px;
                    margin-top: 14px;

                    small
                        color: #a6b0b7;
                        font-size: 14px;
                        margin-left: 4px;

.maincontent
    display: flex;
    flex-flow: column nowrap;
    background: #fff;
    width: 1170px;
    margin: 35px auto 150px;
    padding-bottom: 240px;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(233, 235, 237, .6);

    .title-wrap
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        
        h2
            color: #727e88;
            margin: 40px 20px 30px;

        h2::first-letter
                text-transform: uppercase;

        .edit-phone
            background: #ecf1f5;
            padding: 10px 15px;
            transition: background .3s ease-in;
            display: none;

            .ion-md-create
                color: #727e88;
                transition: color .3s ease-in;

        .edit-phone:hover
            background: #007ee5;

            .ion-md-create
                color: #fff;


    .edit-contact
        display: flex;
        align-items: center;
        margin-left: 20px;
        position: relative;
    
        p 
            color: #3f454a;
            margin: 0;
            background: #f5f8f8;
            padding: 10px 30px 10px 2px;

        a 
            background: #ecf1f5;
            padding: 10px 15px;
            transition: background .3s ease-in;

            .ion-md-create
                color: #727e88;
                transition: color .3s ease-in;

        a:hover
            background: #007ee5;

            .ion-md-create
                color: #fff;

    .form-wrap
        display: flex; 
        flex-flow: column; 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        background: white;

        label
            font-size: 12px;
            text-transform: uppercase;
            color: #b2bbc1;
            margin-top: 10px;
        
        input
            border: none;
            border-bottom: 1px solid #b2bbc1;
            margin-top: 10px;
            padding-bottom: 10px;
            font-size: 16px;

.edit-input
    width: 298px;
    height: 142px;
    background: #fff;
    position: absolute;
    top: -40px;
    left: 220px;
    padding: 21px;
    box-shadow: 0 0 8px 12px rgba(233, 235, 237, .4);
    color: #a6b0b7;
    z-index: 22;

    h6 
        margin: 0;
        text-transform: uppercase;

    input 
        width: 100%;
        border: none;
        border-bottom: 1px solid #d0dce7;
        outline: none;
        margin-top: 14px;
        padding-bottom: 6px;
        font-size: 14px;

    div
        margin-top: 22px;


        .btn
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
            color: #007ee5;
            border: 1px solid #007ee5;
            line-height: 15px;
            padding: 8px 20px 6px;
            border-radius: 3px;
            margin-right: 20px;

        .btn:hover 
            background: #007ee5;
            color: #fff;
            transition: background .5s ease-in-out, color .5s ease-in-out;

.edit-input::before
    content: '';
    position: absolute;
    border: 15px solid transparent;	
    border-right: 15px solid #fff;
    left: -30px;
    top: 40px;