@media screen and (max-width: 1190px) 
    .container
        width: 970px;

    .header
        width: 1050px;

    .maincontent
        width: 1050px;

@media screen and (max-width: 1070px) 
    .container
        width: 750px;

    .header
        width: 800px;

    .maincontent
        width: 800px;


@media screen and (max-width: 820px) 
    .container
        width: 600px;

    .header
        width: 620px;

        .profile
            margin-top: 20px;

            .profile-contacts__name
                margin-top: 0;

        .profile-data
            flex-flow: column nowrap;

        .profile-review
            align-items: center;

            .profile-review__quantity
                margin: 0;

            .profile-stars 
                margin: 0;
                padding-left: 25px;

        .menu
            margin-top: 50px;

            .menu-wrap
                justify-content: flex-start;

                .menu-list
                    margin-left: 0;
                    padding-left: 0;
                    margin-right: 30px;

    .maincontent
        width: 620px;

@media screen and (max-width: 650px)
    .container
        width: 352px;

    .header 
        width: 100%;
        background: transparent;
        margin-top: 12px;

        .logout__btn
            border: none;
            background: transparent;
            margin-right: 20px;

        .upload
            display: none; 

    .profile
        flex-flow: column nowrap;

        .profile-image
            max-width: 127px;
            max-height: 127px;
            margin: 8px auto 0 96px;

            .profile-image__item
                margin-left: -112px;
        
        .profile-data
            
            .profile-contacts
                margin: 16px 0 0 0;
                display: flex;
                flex-flow: column;

                .profile-contacts__name
                    text-align: center;
                    padding-right: 30px;

                .profile-icons-contact__tel
                    font-size: 13px;

                .ion-md-pin
                    margin-top: 6px;

                .profile-icons-contact__adr
                    font-size: 13px;
                    margin-top: 6px;
            
            .phone             
                order: 0;
                margin-top: 5px;
            
            .address 
                order: 1;
            
            .profile-review
                flex-flow: column;
                align-items: flex-start;
                margin: 6px 0 0 0;

                .profile-stars
                    padding-left: 0;

                    .profile-stars__item
                        margin-right: 5px;

                    .ion-md-star-outline,
                    .ion-md-star
                        font-size: 23px;
                        color: #007ee5;
                        
                .profile-review__quantity
                    margin-top: 5px;

    .header nav.menu
        box-shadow: none;
        margin-top: 0;

        .menu-wrap
            flex-flow: column;

            .followers
                order: 0;
                margin-top: 8px;

                .ion-md-add-circle
                    margin-right: 9px;

            .menu-list
                order: 1;

            .menu-list
                background: #fff;
                margin: 10px 0 0 0;
                padding: 16px 0;
                overflow: hidden;
                box-shadow: 0 0 3px 1px rgba(233, 235, 237, .6);

                .main-link
                    margin-right: 28px;

                .main-link::before
                    bottom: -16px;

    .maincontent
        width: 100%;
        margin-top: 10px;

        .maincontent__title
            margin: 18px 0 0 0;
            flex: 1 0;

        .btn
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
            color: #007ee5;
            line-height: 15px;
            padding: 8px 20px 6px;
            border: none;

        .btn:hover 
            background: #007ee5;
            color: #fff;
            transition: background .5s ease-in-out, color .5s ease-in-out;


        .title-wrap .edit-phone
            display: block;

        .editor
            margin-top: 5px;

        .edit-contact
            margin: 0;

            p 
                background: transparent;
                margin-left: 30px;

            .edit
                display: none;
        
        .edit-contact:first-child
            font-size: 18px;
            font-weight: 600;

        p::before
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                left: 0;

        .edit-contact:nth-child(2)

            p::before
                background: url('../img/icons/globe.svg');

        .edit-contact:nth-child(3)

            p::before
                background: url('../img/icons/call.svg');

        .edit-contact:nth-child(4)

            p::before
                background: url('../img/icons/home.svg');



            