* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

body {
  background: #f5f8f9;
  margin: 0; }

a {
  text-decoration: none; }

ul li {
  list-style: none; }

button {
  cursor: pointer;
  outline: none; }

.container {
  width: 1126px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: #fff;
  width: 1170px;
  margin: 72px auto 0; }
  .header .logout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 22px; }
    .header .logout__btn {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      color: #007ee5;
      border: 1px solid #007ee5;
      line-height: 15px;
      padding: 8px 20px 6px;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
    .header .logout__btn:hover {
      background: #007ee5;
      color: #fff;
      -webkit-transition: background .5s ease-in-out, color .5s ease-in-out;
      -o-transition: background .5s ease-in-out, color .5s ease-in-out;
      transition: background .5s ease-in-out, color .5s ease-in-out; }
  .header .upload {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 22px; }
    .header .upload .upload-img {
      border: 1px solid #d0dce7;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer;
      padding: 10px 21px;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
      .header .upload .upload-img__input {
        display: none; }
      .header .upload .upload-img .ion-md-camera {
        font-size: 20px;
        margin-right: 18px;
        color: #d0dce7; }
      .header .upload .upload-img__text {
        margin: 0;
        color: #858f98;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.5px; }
  .header .profile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -12px; }
    .header .profile .profile-image {
      width: 172px;
      height: 172px;
      overflow: hidden;
      -webkit-box-shadow: 0 0 14px 10px rgba(233, 235, 237, 0.6);
              box-shadow: 0 0 14px 10px rgba(233, 235, 237, 0.6);
      position: relative;
      z-index: 2; }
      .header .profile .profile-image__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-left: -85px; }
  .header .profile-data {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
        -ms-flex: 1 0;
            flex: 1 0; }
    .header .profile-data .profile-contacts {
      margin-left: 26px;
      color: #3f454a; }
      .header .profile-data .profile-contacts__name {
        margin: 33px 0 0 0;
        font-size: 22px;
        font-weight: 300px; }
    .header .profile-data .profile-icons-contact {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .profile-data .profile-icons-contact .ion-md-call,
      .header .profile-data .profile-icons-contact .ion-md-pin {
        margin-top: 12px;
        font-size: 18px;
        color: #a9abad; }
      .header .profile-data .profile-icons-contact__tel, .header .profile-data .profile-icons-contact__adr {
        margin: 8px 0 0 15px;
        font-size: 15px;
        letter-spacing: 0.4px; }
      .header .profile-data .profile-icons-contact .ion-md-call {
        margin-top: 6px; }
    .header .profile-data .profile-review {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 17px;
      color: #727e88; }
      .header .profile-data .profile-review .profile-stars {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-right: 25px; }
        .header .profile-data .profile-review .profile-stars__item {
          margin-right: 7px; }
          .header .profile-data .profile-review .profile-stars__item .ion-md-star-outline,
          .header .profile-data .profile-review .profile-stars__item .ion-md-star {
            font-size: 24px; }
      .header .profile-data .profile-review__quantity {
        margin-top: 22px; }
        .header .profile-data .profile-review__quantity small {
          margin-left: 12px; }
  .header .menu {
    border: 1px solid #f4f5f6;
    -webkit-box-shadow: 0 0 2px 1px rgba(233, 235, 237, 0.6);
            box-shadow: 0 0 2px 1px rgba(233, 235, 237, 0.6);
    margin-top: -36px;
    position: relative;
    z-index: 1;
    padding: 4px 0; }
    .header .menu .menu-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .header .menu .menu-wrap .menu-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-left: 158px; }
        .header .menu .menu-wrap .menu-list__item a {
          text-transform: uppercase;
          color: #3f454a;
          font-size: 15px;
          margin-right: 27px;
          position: relative; }
        .header .menu .menu-wrap .menu-list .main-link::before,
        .header .menu .menu-wrap .menu-list .current-link::before {
          content: '';
          position: absolute;
          width: 0;
          height: 2px;
          background: #028dfe;
          bottom: -20px;
          left: 0;
          -webkit-transform: translateX(0%);
              -ms-transform: translateX(0%);
                  transform: translateX(0%);
          -webkit-transition: width .2s ease-in-out;
          -o-transition: width .2s ease-in-out;
          transition: width .2s ease-in-out; }
        .header .menu .menu-wrap .menu-list .current-link::before {
          width: 100%; }
        .header .menu .menu-wrap .menu-list .main-link:hover::before {
          width: 100%; }
      .header .menu .menu-wrap .followers {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .header .menu .menu-wrap .followers .ion-md-add-circle {
          font-size: 28px;
          color: #a6b0b7;
          margin: 0 17px 0 0; }
        .header .menu .menu-wrap .followers__item {
          color: #3f454a;
          font-size: 15px;
          margin-top: 14px; }
          .header .menu .menu-wrap .followers__item small {
            color: #a6b0b7;
            font-size: 14px;
            margin-left: 4px; }

.maincontent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: #fff;
  width: 1170px;
  margin: 35px auto 150px;
  padding-bottom: 240px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 0 2px 1px rgba(233, 235, 237, 0.6);
          box-shadow: 0 0 2px 1px rgba(233, 235, 237, 0.6); }
  .maincontent .title-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .maincontent .title-wrap h2 {
      color: #727e88;
      margin: 40px 20px 30px; }
    .maincontent .title-wrap h2::first-letter {
      text-transform: uppercase; }
    .maincontent .title-wrap .edit-phone {
      background: #ecf1f5;
      padding: 10px 15px;
      -webkit-transition: background .3s ease-in;
      -o-transition: background .3s ease-in;
      transition: background .3s ease-in;
      display: none; }
      .maincontent .title-wrap .edit-phone .ion-md-create {
        color: #727e88;
        -webkit-transition: color .3s ease-in;
        -o-transition: color .3s ease-in;
        transition: color .3s ease-in; }
    .maincontent .title-wrap .edit-phone:hover {
      background: #007ee5; }
      .maincontent .title-wrap .edit-phone:hover .ion-md-create {
        color: #fff; }
  .maincontent .edit-contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
    position: relative; }
    .maincontent .edit-contact p {
      color: #3f454a;
      margin: 0;
      background: #f5f8f8;
      padding: 10px 30px 10px 2px; }
    .maincontent .edit-contact a {
      background: #ecf1f5;
      padding: 10px 15px;
      -webkit-transition: background .3s ease-in;
      -o-transition: background .3s ease-in;
      transition: background .3s ease-in; }
      .maincontent .edit-contact a .ion-md-create {
        color: #727e88;
        -webkit-transition: color .3s ease-in;
        -o-transition: color .3s ease-in;
        transition: color .3s ease-in; }
    .maincontent .edit-contact a:hover {
      background: #007ee5; }
      .maincontent .edit-contact a:hover .ion-md-create {
        color: #fff; }
  .maincontent .form-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white; }
    .maincontent .form-wrap label {
      font-size: 12px;
      text-transform: uppercase;
      color: #b2bbc1;
      margin-top: 10px; }
    .maincontent .form-wrap input {
      border: none;
      border-bottom: 1px solid #b2bbc1;
      margin-top: 10px;
      padding-bottom: 10px;
      font-size: 16px; }

.edit-input {
  width: 298px;
  height: 142px;
  background: #fff;
  position: absolute;
  top: -40px;
  left: 220px;
  padding: 21px;
  -webkit-box-shadow: 0 0 8px 12px rgba(233, 235, 237, 0.4);
          box-shadow: 0 0 8px 12px rgba(233, 235, 237, 0.4);
  color: #a6b0b7;
  z-index: 22; }
  .edit-input h6 {
    margin: 0;
    text-transform: uppercase; }
  .edit-input input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d0dce7;
    outline: none;
    margin-top: 14px;
    padding-bottom: 6px;
    font-size: 14px; }
  .edit-input div {
    margin-top: 22px; }
    .edit-input div .btn {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      color: #007ee5;
      border: 1px solid #007ee5;
      line-height: 15px;
      padding: 8px 20px 6px;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      margin-right: 20px; }
    .edit-input div .btn:hover {
      background: #007ee5;
      color: #fff;
      -webkit-transition: background .5s ease-in-out, color .5s ease-in-out;
      -o-transition: background .5s ease-in-out, color .5s ease-in-out;
      transition: background .5s ease-in-out, color .5s ease-in-out; }

.edit-input::before {
  content: '';
  position: absolute;
  border: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -30px;
  top: 40px; }
