@media screen and (max-width: 1190px) {
  .container {
    width: 970px; }
  .header {
    width: 1050px; }
  .maincontent {
    width: 1050px; } }

@media screen and (max-width: 1070px) {
  .container {
    width: 750px; }
  .header {
    width: 800px; }
  .maincontent {
    width: 800px; } }

@media screen and (max-width: 820px) {
  .container {
    width: 600px; }
  .header {
    width: 620px; }
    .header .profile {
      margin-top: 20px; }
      .header .profile .profile-contacts__name {
        margin-top: 0; }
    .header .profile-data {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap; }
    .header .profile-review {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .profile-review .profile-review__quantity {
        margin: 0; }
      .header .profile-review .profile-stars {
        margin: 0;
        padding-left: 25px; }
    .header .menu {
      margin-top: 50px; }
      .header .menu .menu-wrap {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
        .header .menu .menu-wrap .menu-list {
          margin-left: 0;
          padding-left: 0;
          margin-right: 30px; }
  .maincontent {
    width: 620px; } }

@media screen and (max-width: 650px) {
  .container {
    width: 352px; }
  .header {
    width: 100%;
    background: transparent;
    margin-top: 12px; }
    .header .logout__btn {
      border: none;
      background: transparent;
      margin-right: 20px; }
    .header .upload {
      display: none; }
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
    .profile .profile-image {
      max-width: 127px;
      max-height: 127px;
      margin: 8px auto 0 96px; }
      .profile .profile-image .profile-image__item {
        margin-left: -112px; }
    .profile .profile-data .profile-contacts {
      margin: 16px 0 0 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column;
          -ms-flex-flow: column;
              flex-flow: column; }
      .profile .profile-data .profile-contacts .profile-contacts__name {
        text-align: center;
        padding-right: 30px; }
      .profile .profile-data .profile-contacts .profile-icons-contact__tel {
        font-size: 13px; }
      .profile .profile-data .profile-contacts .ion-md-pin {
        margin-top: 6px; }
      .profile .profile-data .profile-contacts .profile-icons-contact__adr {
        font-size: 13px;
        margin-top: 6px; }
    .profile .profile-data .phone {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0;
      margin-top: 5px; }
    .profile .profile-data .address {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .profile .profile-data .profile-review {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin: 6px 0 0 0; }
      .profile .profile-data .profile-review .profile-stars {
        padding-left: 0; }
        .profile .profile-data .profile-review .profile-stars .profile-stars__item {
          margin-right: 5px; }
        .profile .profile-data .profile-review .profile-stars .ion-md-star-outline,
        .profile .profile-data .profile-review .profile-stars .ion-md-star {
          font-size: 23px;
          color: #007ee5; }
      .profile .profile-data .profile-review .profile-review__quantity {
        margin-top: 5px; }
  .header nav.menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 0; }
    .header nav.menu .menu-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column;
          -ms-flex-flow: column;
              flex-flow: column; }
      .header nav.menu .menu-wrap .followers {
        -webkit-box-ordinal-group: 1;
        -webkit-order: 0;
            -ms-flex-order: 0;
                order: 0;
        margin-top: 8px; }
        .header nav.menu .menu-wrap .followers .ion-md-add-circle {
          margin-right: 9px; }
      .header nav.menu .menu-wrap .menu-list {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1; }
      .header nav.menu .menu-wrap .menu-list {
        background: #fff;
        margin: 10px 0 0 0;
        padding: 16px 0;
        overflow: hidden;
        -webkit-box-shadow: 0 0 3px 1px rgba(233, 235, 237, 0.6);
                box-shadow: 0 0 3px 1px rgba(233, 235, 237, 0.6); }
        .header nav.menu .menu-wrap .menu-list .main-link {
          margin-right: 28px; }
        .header nav.menu .menu-wrap .menu-list .main-link::before {
          bottom: -16px; }
  .maincontent {
    width: 100%;
    margin-top: 10px; }
    .maincontent .maincontent__title {
      margin: 18px 0 0 0;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0;
          -ms-flex: 1 0;
              flex: 1 0; }
    .maincontent .btn {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      color: #007ee5;
      line-height: 15px;
      padding: 8px 20px 6px;
      border: none; }
    .maincontent .btn:hover {
      background: #007ee5;
      color: #fff;
      -webkit-transition: background .5s ease-in-out, color .5s ease-in-out;
      -o-transition: background .5s ease-in-out, color .5s ease-in-out;
      transition: background .5s ease-in-out, color .5s ease-in-out; }
    .maincontent .title-wrap .edit-phone {
      display: block; }
    .maincontent .editor {
      margin-top: 5px; }
    .maincontent .edit-contact {
      margin: 0; }
      .maincontent .edit-contact p {
        background: transparent;
        margin-left: 30px; }
      .maincontent .edit-contact .edit {
        display: none; }
    .maincontent .edit-contact:first-child {
      font-size: 18px;
      font-weight: 600; }
    .maincontent p::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0; }
    .maincontent .edit-contact:nth-child(2) p::before {
      background: url("../img/icons/globe.svg"); }
    .maincontent .edit-contact:nth-child(3) p::before {
      background: url("../img/icons/call.svg"); }
    .maincontent .edit-contact:nth-child(4) p::before {
      background: url("../img/icons/home.svg"); } }
